.home_carousal{
    height: 40vw;
}

.carousel-caption{
    background-color: rgba(66, 5, 63, 0.37);
    border-radius: 20px;
}

.carousel-caption h5{
    color: rgb(255, 255, 255);
}

.carousel-caption p{
    color: rgb(255, 255, 255);
    font-weight: bold;
}