body{
    background: url("../assets/quizo/bg.jpg");
}

.quizes, .olympiads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 4vw;
}

.card_container{
    width:80vw;
}

.quiz_img, .olymp_img{
    height: 300px;
}

.card-body{
    background-color: rgb(66, 5, 63);
    border: 2px solid purple;
    border-top: none;
}

.card-title, .card-text{
    color: white;
}

.quizes h1, .olympiads h1{
    color: rgb(66, 5, 63);
}

.olymp{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.788);
}

.olymp:hover{
    color: pink;
}

.olymp_card{
    height: 400px;
}