body{
    margin: 0;
    padding 0;
    width: 100vw;
    min-height: 80vh;
    overflow-x: hidden;
}

.navbar{
    background-color: rgb(66, 5, 63);
}

.navbar .primary_btn{
    transform: scale(0.8);
}

.navbar .primary_btn:hover{
    background-color: rgb(219, 150, 150);
    color: rgb(66, 5, 63);
}

.navbar-brand{
    height:60px;
}

.navbar-nav>.dropdown>.dropdown-menu{
    background-color: rgb(216, 125, 125);
}

.footer{
    background: linear-gradient(to right, rgb(216, 125, 125) 0%, rgb(224, 9, 214) 51% , rgb(216, 125, 125) 100%);
    display: flex;
    width:100%;
    padding: 1vw 2vw;
    justify-content: space-around;
}

.connect{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -3vw;
}

.clinks{
    list-style: none;
    text-align: center;
}

.info>.clinks:hover{
    color: white;
}

.info{
    margin-left: -3vw;
    color: rgb(66, 5, 63);
    font-weight: 600;
}

.left h2, .right h2, .contribute span{
    color: rgb(66, 5, 63);
}

.fab{
    color: rgb(66, 5, 63);
    font-size: 1.5em;
}

.fab:hover{
    color: white;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy{
    color: rgb(66, 5, 63);
    margin-top: 2vw;
    font-weight: 600;
}

.contribute{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.primary_btn{
    background-color: rgb(216, 125, 125);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    color: rgb(66, 5, 63);
    font-size: larger;
}

.primary_btn:hover{
    color: rgb(216, 125, 125);
    background-color: rgba(66, 5, 63, 0.829);
}

main{
    margin-top: 5vw;
    min-height: 52vh;
}

@media screen and (max-width: 992px){
    .navbar-brand{
        height:50px;
    }

    main{
        margin-top: 6.5vw;
    }
}

@media screen and (max-width: 700px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    .info,.connect{
        margin-left: -10vw;
    }
    .mid{
        order:2;
    }
    .contribute span{
        font-size: 1.2em;
    }
    .primary_btn{
        transform: scale(0.8);
    }
    .fab{
        font-size: 1.6em;
    }
    main{
        margin-top: 9.5vw;
    }
}

@media screen and (max-width: 380px){
    main{
        margin-top: 18vw;
    }
}